.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(200px, 10%));
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 80px 0px;
}

.productImage {
  padding: 0.5rem;
  background-color: white;
  width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.productLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.addToCartButton {
  margin-top: auto;
}
